@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.wrapper {
    position: relative;
    height: 100px;
    width: 360px;
    cursor: progress;
    background: #00abf0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 1.5s linear infinite;
}

.wrapper .display,
.wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display {
    z-index: 999;
    background: #081b29;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
}

.wrapper .display #time {
    line-height: 85px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #00abf0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.wrapper span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

.wrapper span:first-child {
    filter: blur(10px);
}

.wrapper span:last-child {
    filter: blur(20px);
}




/* Media Queries */
@media (max-width: 475px) {
    .wrapper {
        position: relative;
        height: 80px;
        width: 340px;
        border-radius: 10px;
        display: grid;
        place-items: center;
    }

    .wrapper .display {
        height: 65px;
        width: 325px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
    }

    #time{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
