@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    column-gap: 280px;
    align-items: center;
    padding: 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* SKILL */
.skill {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}

.my-skill {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prbr {
    width: 500px;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
}

.prbr li {
    margin: 20px 0;
    padding: 10px;
    list-style-type: none;
}

.prbr h1 {
    text-align: center;
}

.prbr h3 {
    margin: 5px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: #00abf0;
}

.GD {
    width: 90%;
    animation: GD 3s;
}

.E {
    width: 90%;
    animation: E 3s;
}

.DA {
    width: 85%;
    animation: DA 3s;
}

.WD {
    width: 80%;
    animation: WD 3s;
}

@keyframes GD {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 90%;
    }
}

@keyframes E {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 90%;
    }
}

@keyframes DA {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 85%;
    }
}

@keyframes WD {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 80%;
    }
}

.pic {
    width: 600px;
    height: 600px;
    background: #353b48;
}

/* Media Queries */
@media (max-width: 475px) {
    .home {
        margin-top: 70px;
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .home-content h1 {
        font-size: 40px;
    }

    nav {
        display: none;
    }

    .child1, .child2{
        padding-top: 50px;
    }

    .links{
        padding-top: 60px;
    }

    .home-sci {
        padding-top: 500px;
    }

    .skill {
        margin-top: 10px;
        flex-direction: column-reverse;
        height: 1200px;
    }

    .pic {
        width: 400px;
        height: 400px;
    }

    .my-skill {
        width: 400px;
    }
}
